GtkButton {
    background-image: none;
}

#myButton_white,
#myButton_white > label {
    background-color: white;
    color: red;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: xx-large;
    border-radius: 0px;
}

#myButton_blue,
#myButton_blue > label {
    background-color: blue;
    color: white;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: xx-large;
}

#myButton_previous_1,
#myButton_previous_1 > label {
    background-color: lightgreen;
    color: black;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: xx-large;
    border-radius: 10px;
}

#myButton_previous_2,
#myButton_previous_2 > label {
    background-color: lightblue;
    color: black;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: xx-large;
    border-radius: 10px;
}

#myButton_previous_3,
#myButton_previous_3 > label {
    background-color: grey;
    color: black;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: xx-large;
    border-radius: 10px;
}

#myButton_white:hover,
#myButton_blue:hover{
   background-color: grey;
   color: blue;
}

#drum_button {
     background-color: white;
}
