GtkButton {
    background-image: none;
}

#myButton_white{
    background-color: white;
    color: red;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: xx-large;
    border-radius: 0px;
}

#myButton_blue{
    background-color: blue;
    color: white;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: xx-large;
}

#myButton_previous_1{
    background-color: lightgreen;
    color: black;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: xx-large;
    border-radius: 10px;
}

#myButton_previous_2{
    background-color: lightblue;
    color: black;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: xx-large;
    border-radius: 10px;
}

#myButton_previous_3{
    background-color: grey;
    color: black;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: xx-large;
    border-radius: 10px;
}

#myButton_white:hover,
#myButton_blue:hover{
   background-color: grey;
   color: blue;
}

